.main-section {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #7C5E99;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #F25A70;
    height: 730px;
    text-align: center;
}

.main-section .main-title {
    margin-bottom: 62px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #F25A70;
}